.container{
    display:flex;
    flex-direction:column;
    max-width:100%;
    text-align:center;
}
.container h1{
    font-size:1.5rem;
    font-family: "Open Sans";
}
.container img{
    display:block;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
main{
    padding-top:10px;
}