.container{
    display:flex;
    flex-direction:column;
    font-size:1.2rem;
    font-family:"Open Sans";
    max-width:100%;
    padding-bottom:20px;
}
.desktop_container{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:5em;
    padding-left:40px;
    padding-right:40px;
}
.desc{
    display:block;
    text-align:justify;
    /* TEXT BELOW 1300px*/
    max-width:75%;
}
.desc p:first-child{
    margin-top:10px;
}
.desktop_img{
    display:none
}

.mobile_text{
    display:none;
}
main{
    padding-top:10px;
}

/*MEDIA QUERY FOR IMAGE AND TEXT IN ABOUT*/
@media screen and (min-width:1300px){
    .desktop_img{
        display:flex;
        max-width:max-content;
    }
    .desktop_img img{
        width:max(22rem,12vw);
    }
    .desc{
        max-width:55%;
    }
}
@media screen and (max-width:760px){
    .desktop_container{
        padding-left:0px;
        padding-right:0px;
    }
    .desktop_container{
        flex-direction:column;
    }
    .desc{
        max-width:90%;
    }
    .mobile_text{
        display:block;
        max-width:30ch;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    .mobile_text h1{
        display:none;
    }
}

@media screen and (max-width:500px){
    .mobile_text h1{
        font-family:"Bebas Neue"!important;
        font-size: 2.5rem;
        display:block;
    }
}