@import "fonts.css";
@import "home.module.css";

/*MAIN CLASSIFIERS*/
html,
body {
  padding: 0;
  margin:10px;
  background:url("/img/backg.jpg");
  background-position: center;
  background-size: 90% 90%;
  font-family: "Open Sans";
}
main{
  background-color:#050505;
  color:white;
  padding-bottom:30px;
}

/*HEADER*/
header{
  display:flex;
  flex-direction:column;
  background-color:#050505;
  color:white;
  font-family: 'Bebas Neue';
  justify-content:space-around;
  padding:20px;
}
header h1{
  display:none;
}
#img_logo-desktop{
  width:50vw;
  cursor:pointer;
  padding:30px;
 }
 #img_logo-mobile{
  display:none;
}
.media{
    display:flex;
    fill:white;
    align-items:center;
    gap:5px;
    margin-left:auto;
  }
  .icon.social{
    margin-top:5px;
}
.container_nav{
    background-color:#050505;
    width:100%;
    display:flex;
    align-items:center;
  }
.nav_menu ul{
  justify-content:center;
  display:flex;
  list-style: none;
  font-size:2.5rem;
}
.nav_menu ul li {
  padding:20px;
  cursor:pointer;
}
.nav_menu ul li a{
  text-decoration: none;
  color: inherit;
}
.nav_menu ul li:hover{
  color:#bebfc1;
}
.separador_menu{
  cursor:default!important;
  padding-left:0px!important;
  padding-right:0px!important;
}
.separador_menu:hover{
  color:white!important;
}
.menu_list{
  padding-left:0px;
  margin-bottom:0px;
  margin-top:0px;
}

.menu_icon{
  padding:20px;
  cursor:pointer;
  width: 45px;
  height: 45px;
  display:flex;
  justify-content:center;
}
.mobile_menu{
  display:none;
}
.mobile_list{
  display:none;
}


/*FOOTER*/
#footer{
  color:white;
  background-color:#0d0d0d;
  display:flex;
  justify-content:space-between;
  width:100%;
  padding:10px;
  flex-shrink:1.2;
  font-size:max(1.30vw, 14px);
  font-family: "Open Sans";
}
#footer h1{
  font-family:"Bebas Neue";
  text-align:center;
  margin-top:15px;
  margin-bottom: 10px;
}
.apartados{
  flex-basis:30%;
  padding:10px;
}
#licencia{
  text-align:center;
}
#licencia > p:last-child{
  padding:5px;
  padding-top:0px;
  padding-bottom:0px;
  font-size:max(1.2vw,0.73rem);
}
.separador-footer{
  display:block;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #bebfc1;
}
.separador-footer.bajotitulo{
  border:2px solid #292929;
  width:40%;
  margin-bottom:15px;
}
#contacto{
  align-content:center;
  max-width:max(220px,16vw);
  padding-right:10px;
}
#contacto img{
  width:max(190px,14vw);
  height:max(65px,7.5vh);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contacto p{
  display:block;
  color:white;
  font-size:max(0.8rem, 0.7em);
  margin-left:auto;
  margin-right:auto;
  padding-bottom:0px;
  padding-top:0px;
  font-family: "Open Sans";
  text-align:center;
}
#about{
  font-size:max(1.2vw,0.8em);
  max-width:30ch;
  padding-right:0px;
}

#newsletter p{
  text-align:center;
}
#news-button{
  background-color: rgba(150, 147, 147, 0.116);
  border-radius: 10px 10px 10px 10px;
  color:white;
  font-size:1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 35px;
  border: 1px rgba(150, 147, 147, 0.116);
}
#news-button:hover{
  background-color: #292929;
}

/*MEDIA QUERIES*/

/*MOBILE AND SMALL TABLET SCREENS - FOOTER IN COLUMN*/
@media (max-width:720px){
  html,body{
    margin:0px;
  }
  .separador_menu{
    display:none;
  }
  .nav_menu ul{
    font-size:2rem;
  }
  #img_logo-desktop{
    width:max(330px,60vw);
   }
  #footer{
    flex-direction:column;
    font-size:16px;
  }
  .apartados{
    padding:15px;
    text-align:center;
    max-width:70ch;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #about{
    display:none;
    /*
    font-size:14px;
    */
  }
}

/*FOR MOBILE - NAV HAMBURGER MENU*/
@media screen and (max-width:500px) {
  #img_logo-desktop{
    display:none;
  }
  #img_logo-mobile{
    display:flex;
    object-fit:scale-down;
    height:70px;
    border-radius:50%;
    margin-left:15px;
  }
  .container_nav{
    height:70px;
    padding-bottom:2px;
    box-shadow: 1px 2px 2px rgba(255,255,255,.05);
  }
  header{
    padding:0;
  }
  .nav_logo{
    flex-basis:90%;
  }
  .icon{
    max-width:100px;
  }
  .nav_menu{
    align-items:flex-start;
    text-align:center;
  }
  .nav_menu ul{
    margin-top:0px;
  }
  .nav_menu li{
    background-color:#050505;
  }
  .nav_menu li:first-child{
    padding-top:30px;
  }
  .nav_menu li:last-child{
    padding-bottom:30px;
  }
  .menu_list{
    z-index: 1;
    opacity:0;
    left:-100%;
    position:absolute;
    flex-direction:column;
    padding-left:0px;
    transition: all 0.5s ease-out;
  }
  .menu_list.active{
    left:0%;
    background-color:#050505;
    width:100%;
    opacity:2;
  }
  
  .mobile_menu{
    width:85px;
    height:85px;
    display:block;
  }
  .mobile_list{
    display:block;
  }
}