.container-general{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom:20px;
}
.container-general p{
    font-family:"Bebas neue";
    font-size:2rem;
    text-align:center;
}
.container-botones{
    display:flex;
    justify-content: space-evenly;
}
.boton{
    background-color: rgba(150, 147, 147, 0.116);
    border-radius: 10px 10px 10px 10px;
    color:white;
    font-size:1em;
    display: block;
    padding: 10px 35px;
    border: 1px rgba(150, 147, 147, 0.116);
}
.boton:hover{
    background-color: #292929;
}
.container-izquierda > p{
    margin-bottom:0px;
}
.container-derecha{
    display:flex;
    flex-direction:column;
    max-width:70%;
}
.container-derecha > p{
    margin-bottom:0px;
}
.container-indice{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height:36.5vw;
    margin-top:25px;
    padding-right:15px;
}
.container-articulo{
    display: flex;
    max-width:50ch;
    padding-bottom: 10px;
}
.container-texto{
    font-family: "Open Sans";
    font-size: 1.2em;
    color: #bebfc1;
    line-height: 1.5em;
    text-align: justify;
}
.container-texto.pagina{
    padding-right: 10px;
    min-width: 2ch;
}
.container-texto.articulo{
    display:flex;
    flex-direction:column;
}
#boton-modal{
 display:none;
}

@media screen and (min-width:760px){
    #boton-modal{
        display:block;
    }
    .Modal{
        position:absolute;
        width:650px;
        height:600px;
        top: 50%!important;
        left: 50%!important;
        margin-right:-50%;
        transform: translate(-50%, -50%);
        inset: unset;
        padding:10px;
    
    }
    .OverlayModal{
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:rgba(5,5,5,0.9);
        overflow:hidden;
        border:0;
    }
}
main{
 padding-top:10px;
}

